# Entorno virtual
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno
.env

# Base de datos SQLite
db.sqlite3

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp

# Migraciones compiladas
**/__pycache__/

# Archivos de pytest
.pytest_cache/

# Cobertura
htmlcov/
.coverage